@font-face {
    font-family: "Cairo";
    src: local("Cairo"),
     url(~assets/fonts/Cairo-VariableFont_wght.ttf) format("truetype");
}


body{
    background-color: #dfdcdc;
    font-family: Cairo, sans-serif;
    direction: rtl;
}